#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}


.container{
  width: 60vw;
  height: 50vh;
  border: 10px solid #7FD8E6;
  background-color: #DDF2F5;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}
.row1{
  display: flex;
  gap: 1rem;
  align-items:center ;
  font-size:x-large;
}
.display{
  width: 4rem;
  border-radius: 20px;
  /* border: 2px solid #7FD8E6; */
  text-align: center;
  background-color: #4EA3B9;
  color: aliceblue;
  font-size: x-large;
  font-weight: 700;
}
.green{
  background-color: #5EA945;
}
.blue{
  background-color: #5F9CFC;
}
.row2{
  display: flex;
  gap: 1rem;
}
.row2 button{
  width: 2rem;
  display:flex;
  justify-content: center;
}
.row3{
  height:auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#card{
  /* border: 1px solid black; */
  display: flex;
  gap: 0.5rem;
}
#card button{
  width: 2rem;
  display: flex;
  justify-content: center;
}
.display2{
  border-radius: 10px;
  width: 5rem;
  text-align: center;
  background-color: #F7C005;
  font-size: x-large;
  font-weight: 700;
}
.grey{
  background-color: #6C757D;
}
.skyBlue{
  background-color: #70BDCE;
}
.red{
  background-color: #DD4D45;
}